<h1>New User</h1>

<%= render 'form', user: @user %>
<div class="container">
  <div class="row">
    <div class="col">
      <%= link_to 'Back', users_path ,class:"btn btn-dark" %>
    </div>
  </div>
</div>
