<h1>New Company</h1>

<%= render 'form', company: @company %>
<!--div class="container">
  <div class="row">
    <div class="col">
      <%= link_to 'Back', companies_path ,class:"btn btn-dark" %>
    </div>
  </div>
</div!-->